rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /codes/{code} {
      allow get: if code.matches('^[A-Z0-9]{5}$');
      allow list: if true;
      allow create: if false;
      allow delete: if false;

      allow update: if (
        (
          resource.data.validated != true
          && request.resource.data.diff(resource.data).affectedKeys().hasOnly([
            "status",
            "guestName",
            "reservedAt"
          ])
          && request.resource.data.status == "reserved"
          && request.resource.data.guestName is string
          && request.resource.data.guestName.size() <= 60
        )
        ||
        (
          resource.data.status == "free"
          && request.resource.data.diff(resource.data).affectedKeys().hasOnly([
            "status",
            "sentAt"
          ])
          && request.resource.data.status == "sent"
        )
        ||
        (
          resource.data.validated != true
          && request.resource.data.diff(resource.data).affectedKeys().hasOnly([
            "status",
            "validated",
            "validatedAt"
          ])
          && request.resource.data.status == "validated"
          && request.resource.data.validated == true
        )
        ||
        (
          resource.data.status == "sent"
          &&
          request.resource.data.diff(resource.data).affectedKeys().hasOnly([
            "status",
            "validated",
            "validatedAt",
            "guestName",
            "reservedAt",
            "sentAt",
            "resetAt"
          ])
          && request.resource.data.status == "free"
          && request.resource.data.validated == false
        )
      );
    }
  }
}
